{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukFieldset({
        legend: {
          text: "Enter your licence details and postcode",
          classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
          isPageHeading: true
        }
      }) }}
      <form action="select-year.html">
        {{ govukInput({
          label: {
            text: "Last 6 characters of your licence number",
            classes: "govuk-label--m"
          },
          hint: {
            text: "This can be found on your licence or your catch return reminder. For example, B7A718."
          },
          id: "licence",
          name: "licence",
          classes: "govuk-input govuk-input--width-5"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode for this licence",
            classes: "govuk-label--m"
          },
          hint: {
            text: "For example, WA4 8HT."
          },
          id: "postcode",
          name: "postcode",
          classes: "govuk-input govuk-input--width-5"
        }) }}
        <p class="govuk-body-m">
          When you use this service, we will collect personal information such as your fishing activity. <a href="/privacy" class="govuk-link">Read about how we use your personal information</a>.
        </p>

        {{ govukButton({
          name: "continue",
          text: "Continue" })
        }}
      </form>
    </div>
</div>

{% endblock %}
