{% extends "layouts/main.html" %} 
{% set pageName="Select Year" %} 
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <H1 class="govuk-heading-l">Rod catch returns prototype</H1>

    <p class="govuk-body">We've created this prototype to document what the Rod Catch Returns process could look like for user research testing purposes</p>

    <h2 class="govuk-heading-m">
        <a href="V1/index" class="gov-link"> Version 1  </a>
    </h2>

   
    <p class="govuk-body"> Version 1 is the original prototype that has been unarchived and migrated to the new prototype kit by Nabeel.
    </p>

    <h2 class="govuk-heading-m">
        <a href="V2/index" class="gov-link"> Version 2 </a> 
    </h2>

    <p class="govuk-body"> Version 2 is been edited by Leah to include 'select salmon' page to prepare for testing W/C September 8.  </p>
  </div>
</div>

{% endblock %}
